<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand mb-0 h1" href=""> <img class="center-block" src="assets/IspolinLogo4.png">  ИСПолИн</a>
    <form class="form-inline">
            <button class="btn btn-sm btn-outline-secondary" [routerLink]="['flight']" type="button">Список рейсов</button>
    </form>

    <span class="navbar-text">
       Информационная система полетной информации
    </span>

</nav>        
<router-outlet></router-outlet>

<footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 АО
          <a href="https://www.nvavia.ru">Нижневартовскавиа</a>
        </div>
        <!-- Copyright -->
</footer>
